.venv/*
*/__pycache__/*
Topic Approval Presentation.pptx
colortograynbackVSS.m
sample.ipynb
scratch.ipynb
*/frames/*
frames/video_frames/*
*.pyc
*.nbc
*.nbi
*.avi
*.mp4
output.avi
share1.avi
share2.avi
# output.avi
.vscode/settings.json
references/~$mple_paper.docx
VSS\Lossless\numba_accelerated\stats.ipynb
VSS\Lossless\naive\stats.ipynb